.login-component {
  height: 100vh;
  background: url(https://oddnhrkuu.qnssl.com/c082fc2f-c05c-42e6-aecf-0aea639e82d8) 50% no-repeat;
  background-size: 100% 100%;
}
.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
